In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head(3)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250

In [3]:
df.Survived.value_counts()

Survived
0    545
1    342
Name: count, dtype: int64

In [4]:
df.isna().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [9]:
df.drop("Name",axis="columns",inplace=True)
df.head(3)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250

In [14]:
df["Sex"]=df["Sex"].map({"male":1,"female":2})
df.head(3)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,2,38.0,1,0,71.2833
2,1,3,2,26.0,0,0,7.9250

### train modelusing:

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
X = df.drop('Survived', axis = "columns")
y = df['Survived']

X_train,X_test, y_train,y_test=train_test_split(X,y,test_size=0.25, random_state=12)

In [29]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.80      0.89      0.84       134
           1       0.80      0.67      0.73        88

    accuracy                           0.80       222
   macro avg       0.80      0.78      0.79       222
weighted avg       0.80      0.80      0.80       222

In [30]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
y_pred= model.predict(X_test)
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.85      0.90      0.87       134
           1       0.84      0.75      0.79        88

    accuracy                           0.84       222
   macro avg       0.84      0.83      0.83       222
weighted avg       0.84      0.84      0.84       222

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(n_estimators=20)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.82      0.95      0.88       134
           1       0.90      0.68      0.77        88

    accuracy                           0.84       222
   macro avg       0.86      0.81      0.83       222
weighted avg       0.85      0.84      0.84       222